# Python bytecode
*.pyc
ref.txt
/build/
/dist/
/doc/
/test/data/*
.DS_Store
/.idea/
/.cache/
/.eggs/
.*.swp
*.pyc
*.egg-info/
config.dox

python3/Include/*
python3/Lib/*
python3/Scripts/*
python3/tcl/*